* {
    background-color: beige;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
    color: rgb(56, 56, 56);
}

li {
    margin: 8px;
}

img {
    display: block;
    margin: 0 auto;
}